USE [BTL-OOP]
GO
/****** Object:  Table [dbo].[HoKhau]    Script Date: 11/29/2019 4:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoKhau](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NOT NULL,
	[SONHA] [nvarchar](50) NOT NULL,
	[DUONG] [nvarchar](50) NOT NULL,
	[PHUONG] [nvarchar](50) NOT NULL,
	[THANHPHO] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HoKhau] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoKhauChuyen]    Script Date: 11/29/2019 4:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoKhauChuyen](
	[TEN] [nvarchar](50) NULL,
	[SONHA] [nvarchar](50) NULL,
	[DUONG] [nvarchar](50) NULL,
	[PHUONG] [nvarchar](50) NULL,
	[THANHPHO] [nvarchar](50) NULL,
	[NOICHUYENDEN] [nvarchar](50) NULL,
	[NGAYDANGKICHUYEN] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhaiTu]    Script Date: 11/29/2019 4:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhaiTu](
	[TEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](5) NOT NULL,
	[NGAYSINH] [date] NULL,
	[DANTOC] [nvarchar](20) NULL,
	[NOITHUONGTRU] [nvarchar](50) NULL,
	[SOCMND] [nvarchar](20) NULL,
	[NGAYCHET] [date] NULL,
	[NOICHET] [nvarchar](50) NULL,
	[LYDO] [nvarchar](50) NULL,
	[NOIDANGKI] [nvarchar](50) NULL,
	[NGAYDANGKI] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanKhau]    Script Date: 11/29/2019 4:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanKhau](
	[ID] [int] NOT NULL,
	[STT] [int] IDENTITY(1,1) NOT NULL,
	[TEN] [nvarchar](50) NULL,
	[BIETDANH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NOISINH] [nvarchar](50) NULL,
	[NGUYENQUAN] [nvarchar](50) NULL,
	[DANTOC] [nvarchar](10) NULL,
	[NGHENGHIEP] [nvarchar](50) NULL,
	[NOILAMVIEC] [nvarchar](50) NULL,
	[SOCMND] [nvarchar](10) NULL,
	[NGAYCAP] [date] NULL,
	[NOICAP] [nvarchar](50) NULL,
	[NGAYDANGKITHUONGTRU] [date] NULL,
	[DIACHITRUOCKHICHUYENDEN] [nvarchar](50) NULL,
	[QUANHE] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
 CONSTRAINT [PK_NhanKhau] PRIMARY KEY CLUSTERED 
(
	[ID] ASC,
	[STT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanKhauChuyen]    Script Date: 11/29/2019 4:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanKhauChuyen](
	[ID] [int] NULL,
	[TEN] [nvarchar](50) NULL,
	[GIOITINH] [nvarchar](5) NULL,
	[BIETDANH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[NOISINH] [nvarchar](50) NULL,
	[NGUYENQUAN] [nvarchar](50) NULL,
	[DANTOC] [nvarchar](20) NULL,
	[SOCMND] [nvarchar](20) NULL,
	[NGAYCHUYENDI] [date] NULL,
	[NOICHUYENDEN] [nvarchar](50) NULL,
	[LYDO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SinhCon]    Script Date: 11/29/2019 4:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SinhCon](
	[ID] [int] NULL,
	[STT] [int] NULL,
	[NGAYSINHCHU] [nvarchar](50) NULL,
	[QUOCTICH] [nvarchar](20) NULL,
	[HOTENCHA] [nvarchar](30) NULL,
	[DANTOCCHA] [nvarchar](20) NULL,
	[QUOCTICHCHA] [nvarchar](50) NULL,
	[HOTENME] [nvarchar](50) NULL,
	[DANTOCME] [nvarchar](50) NULL,
	[QUOCTICHME] [nvarchar](50) NULL,
	[HOTENNGUOIKHAISINH] [nvarchar](50) NULL,
	[QUANHEVOINGUOIDUOCKHAISINH] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TachHo]    Script Date: 11/29/2019 4:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TachHo](
	[ID] [int] NULL,
	[IDM] [int] NULL,
	[NGAYTHAYDOI] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TamTru]    Script Date: 11/29/2019 4:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TamTru](
	[ID] [int] NULL,
	[STT] [int] NULL,
	[TAMTRUTAI] [nvarchar](50) NULL,
	[TUNGAY] [date] NULL,
	[DENNGAY] [date] NULL,
	[LYDO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TamVang]    Script Date: 11/29/2019 4:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TamVang](
	[ID] [int] NOT NULL,
	[STT] [int] NOT NULL,
	[NOIDEN] [nvarchar](50) NULL,
	[TUNGAY] [date] NULL,
	[DENNGAY] [date] NULL,
	[LYDO] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThayDoiKhac]    Script Date: 11/29/2019 4:00:43 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThayDoiKhac](
	[ID] [int] NULL,
	[NGAYTHAYDOI] [date] NULL,
	[NOIDUNG] [nvarchar](50) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[HoKhau] ON 

INSERT [dbo].[HoKhau] ([ID], [TEN], [SONHA], [DUONG], [PHUONG], [THANHPHO]) VALUES (1, N'NGUYỄN VĂN ANH', N'100       ', N'TRẦN ĐẠI NGHĨA', N'HAI BÀ TRƯNG', N'HÀ NỘI')
INSERT [dbo].[HoKhau] ([ID], [TEN], [SONHA], [DUONG], [PHUONG], [THANHPHO]) VALUES (3, N'NGUYỄN VĂN BẢO', N'101', N'TRẦN ĐẠI NGHĨA', N'HAI BÀ TRƯNG', N'HÀ NỘI')
INSERT [dbo].[HoKhau] ([ID], [TEN], [SONHA], [DUONG], [PHUONG], [THANHPHO]) VALUES (4, N'NGUYỄN VĂN CHUNG', N'102', N'TRẦN ĐẠI NGHĨA', N'HAI BÀ TRƯNG', N'HÀ NỘI')
SET IDENTITY_INSERT [dbo].[HoKhau] OFF
SET IDENTITY_INSERT [dbo].[NhanKhau] ON 

INSERT [dbo].[NhanKhau] ([ID], [STT], [TEN], [BIETDANH], [NGAYSINH], [NOISINH], [NGUYENQUAN], [DANTOC], [NGHENGHIEP], [NOILAMVIEC], [SOCMND], [NGAYCAP], [NOICAP], [NGAYDANGKITHUONGTRU], [DIACHITRUOCKHICHUYENDEN], [QUANHE], [GIOITINH]) VALUES (1, 239, N'NGUYỄN VĂN ANH', N'KHÔNG ', CAST(N'1980-12-01' AS Date), N'HÀ NỘI', N'HÀ NỘI', N'KINH', N'BÁC SĨ', N'HÀ NỘI', N'123456710 ', CAST(N'2008-12-01' AS Date), N'HÀ NỘI', NULL, NULL, N'CHỦ HỘ    ', N'Nam')
INSERT [dbo].[NhanKhau] ([ID], [STT], [TEN], [BIETDANH], [NGAYSINH], [NOISINH], [NGUYENQUAN], [DANTOC], [NGHENGHIEP], [NOILAMVIEC], [SOCMND], [NGAYCAP], [NOICAP], [NGAYDANGKITHUONGTRU], [DIACHITRUOCKHICHUYENDEN], [QUANHE], [GIOITINH]) VALUES (1, 240, N'NGUYỄN THỊ ÁNH', N'KHÔNG ', CAST(N'1980-12-02' AS Date), N'HÀ NỘI', N'HÀ NỘI', N'KINH', N'BÁC SĨ', N'HÀ NỘI', N'123456711 ', CAST(N'2008-12-01' AS Date), N'HÀ NỘI', NULL, NULL, N'VỢ        ', N'Nữ')
INSERT [dbo].[NhanKhau] ([ID], [STT], [TEN], [BIETDANH], [NGAYSINH], [NOISINH], [NGUYENQUAN], [DANTOC], [NGHENGHIEP], [NOILAMVIEC], [SOCMND], [NGAYCAP], [NOICAP], [NGAYDANGKITHUONGTRU], [DIACHITRUOCKHICHUYENDEN], [QUANHE], [GIOITINH]) VALUES (1, 241, N'NGUYỄN VĂN BẢO', N'KHÔNG ', CAST(N'2005-02-01' AS Date), N'HÀ NỘI', N'HÀ NỘI', N'KINH', N'HỌC SINH', N'HÀ NỘI', NULL, NULL, N'HÀ NỘI', NULL, NULL, N'CON       ', N'Nam')
SET IDENTITY_INSERT [dbo].[NhanKhau] OFF
